<% smoothies.forEach( smoothie=> { %>
<h1><%= smoothie.name %></h1>
<h2><%= smoothie.description %></h2>
<h3><%= smoothie.ingredients %></h3>
<img src="<%= smoothie.image %>" alt="" class="smoothie-image" />
<button id="<%= smoothie._id %>" class="addToOrderBtn">Add to order</button>
<% }) %>

<div>
  <button id="submit">Submit Order</button>
</div>
